.users-header-card {
  margin-bottom: 24px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.users-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.users-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.users-search-input {
  width: 250px;
}

.users-title {
  margin: 0;
}

@media (max-width: 768px) {
  .users-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .users-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
